<!DOCTYPE html>
<html>
    <head>
        <title>Apitter - Home Page</title>
        <meta charset="UTF-8">
        <style type="text/css">
        body {
            width: 950px;
            height: 450px;
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
            }
        h2 {
            height:450px;
            width:950px;
            font-size: 120%;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #333366;
            text-align: center;
            vertical-align:middle;
            }

        </style>
    </head>
    <body>


<div class="container">
  <h2>Connecting Twitter</h2>
  <form  action="" method="post" role="form">
    <div class="form-group">
      <label for="name">Twitter account:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Twitter account">
    </div>
    <button type="submit" class="btn btn-success">Show my twitter map</button>
  </form>

</body>
</html>